<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Force la désactivation du buffering -->
        <immediateFlush>true</immediateFlush>
        <!-- Active Jansi pour Docker -->
        <withJansi>true</withJansi>
        <encoder>
            <charset>UTF-8</charset>
            <!-- Pattern simplifié pour Docker -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <!-- Désactive le buffering au niveau de l'encoder -->
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <!-- Configuration spécifique pour le package ora -->
    <logger name="ora" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Root logger en INFO par défaut -->
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Désactive les logs Spring trop verbeux -->
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
</configuration>